.sideBarContainer {
    background-color: var(--background-darker-color);

    .sideBarButtonContainer {
        overflow: hidden;

        &.selected {
            background-color: var(--background-lighter-color);
        }

        .sideBarButton {
            width: 4rem;
            height: 4rem;
            color: white;
        }
    }
}
