
.titleBar {
    background-color: var(--background-darkest-color);
    -webkit-app-region: drag;
    padding-left: 0.5rem;

    .logo {
        height: 3rem;
        width: auto;
    }

    .appName {
        font-family: 'OCRA';
        font-weight: bold;
        font-size: 1.3rem;
    }
}

.mainContainer {
    display: flex;
    height: 100%;
    width: 100%;

    .main {
        display: flex;

        height: 100%;
        width: 100%;
    }
}
