@import url('https://fonts.googleapis.com/css2?family=SUSE+Mono:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

.suse-mono-1 {
    font-family: "SUSE Mono", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}

.audiowide-regular {
    font-family: "Audiowide", sans-serif;
    font-weight: 400;
    font-style: normal;
}

:root {
    --default-font: 'SUSE Mono';
    --accent-font: 'Audiowide';
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    user-select: none;
}

body {
    max-width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    font-size: 1rem;
    overflow-y: hidden;
}

.defaultBorder {
    border: 1px solid var(--color-background-lighter);
    border-radius: var(--radius-1);
}

.lightBackground {
    background-color: var(--color-background-lighter);
}

.darkerBackground {
    background-color: var(--color-background-darker);
}

.darkestBackground {
    background-color: var(--color-background-darkest);
}