.radix-themes {
    --default-font-family: var(--default-font);
    --heading-font-family: var(--accent-font);

    --cursor-button: pointer;
    --cursor-checkbox: pointer;
    --cursor-disabled: default;
    --cursor-link: pointer;
    --cursor-menu-item: pointer;
    --cursor-radio: pointer;
    --cursor-slider-thumb: grab;
    --cursor-slider-thumb-active: grabbing;
    --cursor-switch: pointer;
}

.dark, .dark-theme {
    --red-1: #1d1211;
    --red-2: #241210;
    --red-3: #450607;
    --red-4: #5e0000;
    --red-5: #710000;
    --red-6: #84000a;
    --red-7: #a01119;
    --red-8: #ce1723;
    --red-9: #c5001a;
    --red-10: #a61b1f;
    --red-11: #ff8f85;
    --red-12: #ffcdc6;

    --red-a1: #f8000009;
    --red-a2: #f6000011;
    --red-a3: #fc000035;
    --red-a4: #fe000050;
    --red-a5: #fd000065;
    --red-a6: #ff000079;
    --red-a7: #ff0f1c98;
    --red-a8: #ff1827ca;
    --red-a9: #ff001cc0;
    --red-a10: #fe1f259f;
    --red-a11: #ff8f85;
    --red-a12: #ffcdc6;

    --red-contrast: #fff;
    --red-surface: #33100c80;
    --red-indicator: #c5001a;
    --red-track: #c5001a;
}

@supports (color: color(display-p3 1 1 1)) {
    @media (color-gamut: p3) {
        .dark, .dark-theme {
            --red-1: oklch(19.6% 0.0192 25.99);
            --red-2: oklch(20.8% 0.0309 25.99);
            --red-3: oklch(25.2% 0.0924 25.99);
            --red-4: oklch(28.9% 0.1378 25.99);
            --red-5: oklch(33.2% 0.1532 25.99);
            --red-6: oklch(38.3% 0.1601 25.99);
            --red-7: oklch(45.1% 0.1734 25.99);
            --red-8: oklch(54.4% 0.2107 25.99);
            --red-9: oklch(51.8% 0.2107 25.99);
            --red-10: oklch(47% 0.1734 25.99);
            --red-11: oklch(78.4% 0.2107 25.99);
            --red-12: oklch(90.2% 0.076 25.99);

            --red-a1: color(display-p3 0.9882 0 0 / 0.026);
            --red-a2: color(display-p3 0.9882 0 0 / 0.052);
            --red-a3: color(display-p3 1 0 0 / 0.18);
            --red-a4: color(display-p3 1 0 0 / 0.278);
            --red-a5: color(display-p3 0.9961 0.0392 0 / 0.351);
            --red-a6: color(display-p3 1 0.0824 0.0667 / 0.428);
            --red-a7: color(display-p3 1 0.1843 0.1686 / 0.539);
            --red-a8: color(display-p3 1 0.2235 0.2157 / 0.718);
            --red-a9: color(display-p3 1 0.1725 0.1804 / 0.68);
            --red-a10: color(display-p3 1 0.2314 0.2039 / 0.56);
            --red-a11: color(display-p3 1 0.6196 0.5686 / 0.936);
            --red-a12: color(display-p3 1 0.8353 0.8078 / 0.966);

            --red-contrast: #fff;
            --red-surface: color(display-p3 0.1804 0.0667 0.051 / 0.5);
            --red-indicator: oklch(51.8% 0.2107 25.99);
            --red-track: oklch(51.8% 0.2107 25.99);
        }
    }
}

.dark, .dark-theme {
    --gray-1: #151515;
    --gray-2: #1c1c1c;
    --gray-3: #242424;
    --gray-4: #2b2b2b;
    --gray-5: #313131;
    --gray-6: #3a3a3a;
    --gray-7: #484848;
    --gray-8: #606060;
    --gray-9: #6e6e6e;
    --gray-10: #7b7b7b;
    --gray-11: #b4b4b4;
    --gray-12: #eee;

    --gray-a1: #00000000;
    --gray-a2: #ffffff08;
    --gray-a3: #ffffff10;
    --gray-a4: #ffffff18;
    --gray-a5: #ffffff1f;
    --gray-a6: #ffffff28;
    --gray-a7: #ffffff38;
    --gray-a8: #ffffff52;
    --gray-a9: #ffffff61;
    --gray-a10: #ffffff6f;
    --gray-a11: #ffffffad;
    --gray-a12: #ffffffec;

    --gray-contrast: #FFFFFF;
    --gray-surface: rgba(0, 0, 0, 0.05);
    --gray-indicator: #6e6e6e;
    --gray-track: #6e6e6e;
}

@supports (color: color(display-p3 1 1 1)) {
    @media (color-gamut: p3) {
        .dark, .dark-theme {
            --gray-1: oklch(19.6% 0 none);
            --gray-2: oklch(22.6% 0 none);
            --gray-3: oklch(26.1% 0 none);
            --gray-4: oklch(28.7% 0 none);
            --gray-5: oklch(31.5% 0 none);
            --gray-6: oklch(35% 0 none);
            --gray-7: oklch(40.3% 0 none);
            --gray-8: oklch(48.8% 0 none);
            --gray-9: oklch(53.8% 0 none);
            --gray-10: oklch(58.4% 0 none);
            --gray-11: oklch(77% 0 none);
            --gray-12: oklch(94.9% 0 none);

            --gray-a1: color(display-p3 0 0 0 / 0);
            --gray-a2: color(display-p3 1 1 1 / 0.0299);
            --gray-a3: color(display-p3 1 1 1 / 0.0641);
            --gray-a4: color(display-p3 1 1 1 / 0.094);
            --gray-a5: color(display-p3 1 1 1 / 0.1197);
            --gray-a6: color(display-p3 1 1 1 / 0.1581);
            --gray-a7: color(display-p3 1 1 1 / 0.2179);
            --gray-a8: color(display-p3 1 1 1 / 0.3205);
            --gray-a9: color(display-p3 1 1 1 / 0.3803);
            --gray-a10: color(display-p3 1 1 1 / 0.4359);
            --gray-a11: color(display-p3 1 1 1 / 0.6795);
            --gray-a12: color(display-p3 1 1 1 / 0.9274);

            --gray-contrast: #FFFFFF;
            --gray-surface: color(display-p3 0 0 0 / 5%);
            --gray-indicator: oklch(53.8% 0 none);
            --gray-track: oklch(53.8% 0 none);
        }
    }
}

.dark, .dark-theme, :is(.dark, .dark-theme) :where(.radix-themes:not(.light, .light-theme)) {
    --color-background: #161616;
}